

<div class="restaurant-list">
  <h2>Order confirmation</h2>

  <p>Your order is confirmed. Please check your email for details.
  

  <script>
  $('#all-content').css("background-color", "white");
  </script>
</div>