
  <div id="restaurant-info">
    <p>
      <%= @details['name'] %>
      <br><%= @details['addr'] %>
      <br><%= @details['cs_contact_phone'] %>
    </p>
  </div>

  <div id="tray">
    <b>Order</b>
    <br /><br />
  </div>

  <script>
  WingButton.currentMenuURL = "/guest/menu/<%=@details['restaurant_id']%>";
  </script>



