<div class="menu">

<p>Restaurant details</p>

<p>
  <%= @details['name'] %>
  <br><%= @details['addr'] %>
  <br><%= @details['cs_contact_phone'] %>
</p>

<script>
  WingButton.currentMenuURL = "/guest/menu/<%=@details['restaurant_id']%>";
</script>

</div>

