html,
body {
  margin: 0;
  padding:0;
  height:100%;
  font-family: Arial;
  background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://www.itsfordinner.com/media/uploads/recipe/chicken-wings/wings-baked-sauced_jpg_600x400_crop_q85.jpg') no-repeat center center fixed;
  background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://www.itsfordinner.com/media/uploads/recipe/chicken-wings/wings-baked-sauced_jpg_600x400_crop_q85.jpg') no-repeat center center fixed;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://www.itsfordinner.com/media/uploads/recipe/chicken-wings/wings-baked-sauced_jpg_600x400_crop_q85.jpg') no-repeat center center fixed;
  background-repeat: no-repeat; 
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
div {
  box-sizing: border-box;
/*  border: 1px solid red;*/
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height:50px;
  background: black;
  color: orange;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial;
  z-index: 5;
}

#all-content {
  position: relative;
  width: 70%;
  height: 100%;
  color: #fcf8ea;
  margin: 0 auto;
  top: 50px;
}

#menu-contents {
  border: 1px solid black;
  position: absolute; 
  background-color: white;
  color: black;
  padding: 20px;
  width: 100%;
  top: 0;
  bottom: 0;
}

#footer {
  position:fixed;
  height:50px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  background:black;
  font-size: 20px;
  font-family: Arial;
  text-align: right;
}
a {
  color: orange;
  text-decoration: none;
}



#restaurant-info {
  width: 60%;
  float: left;
}

.menu-items {
  border: 1px dotted black;
  background-color: orange;
  color: black;
  width: 60%;
  float: left;
  position: relative;
  padding: 10px;
}

.menu-item {
  padding: 5px;
}

.item-quantity-input {
  width: 20px;
}

#tray {
  min-height: 100px;
  width: 35%;
  float: right;
  background-color: white;
  color: black;
  border: 1px dotted black;
  padding: 10px;
  margin-right: 20px;
}

#find-wings {
  padding-top: 100px;
  color: #fcf8ea;
  font-size: 30px;
}



/*This is the front page find wings button*/
.enter-wings {
  -moz-box-shadow:inset 0px 1px 0px 0px #fed897;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
  box-shadow:inset 0px 1px 0px 0px #fed897;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
  background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
  background-color:#f6b33d;
  -webkit-border-top-left-radius:13px;
  -moz-border-radius-topleft:13px;
  border-top-left-radius:13px;
  -webkit-border-top-right-radius:13px;
  -moz-border-radius-topright:13px;
  border-top-right-radius:13px;
  -webkit-border-bottom-right-radius:13px;
  -moz-border-radius-bottomright:13px;
  border-bottom-right-radius:13px;
  -webkit-border-bottom-left-radius:13px;
  -moz-border-radius-bottomleft:13px;
  border-bottom-left-radius:13px;
  text-indent:-0.71px;
  border:3px solid #eda933;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  font-style:normal;
  height:30px;
  width:121px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cd8a15;
}
.enter-wings:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
  background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
  background-color:#d29105;
}.enter-wings:active {
  position:relative;
  top:1px;
}
