html,
body {

  margin: 0;
  padding:0;
  height:100%;
}

div {
  border: 0px solid;
}

#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding:10px;
  height:30px;
  background:#5ee;
}
#all-content {
  width: 70%;

  margin:0 auto;
  padding:10px;
  padding-bottom:50px;   /* Height of the footer element */
}
#footer {
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
  background:#ee5;
}

#restaurant-info {
  width: 60%;
  float: left;
}

.menu-item {
  background-color: pink;
  width: 60%;
  float: left;
  position: relative;
}
.menu-category {
  background-color: red;
  width: 60%;
  float: left;
  position: relative;
}

.item-quantity-input {
  width: 20px;
}

#tray {
  margin-top: 0px;
  height: 200px;
  width: 35%;
  float: right;
  background-color: lightblue;
}



