html,
body {
  margin: 0;
  padding:0;
  height:100%;
  font-family: Georgia;
  background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://www.itsfordinner.com/media/uploads/recipe/chicken-wings/wings-baked-sauced_jpg_600x400_crop_q85.jpg') no-repeat center center fixed;
  background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://www.itsfordinner.com/media/uploads/recipe/chicken-wings/wings-baked-sauced_jpg_600x400_crop_q85.jpg') no-repeat center center fixed;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('http://www.itsfordinner.com/media/uploads/recipe/chicken-wings/wings-baked-sauced_jpg_600x400_crop_q85.jpg') no-repeat center center fixed;
  background-repeat: no-repeat; 
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

div {
  border: 0px solid;
}

#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding:10px;
  height:30px;
  background:#fff;
  color: pink;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial;
}
#all-content {
  width: 70%;

  margin:0 auto;
  padding:10px;
  padding-bottom:50px;   /* Height of the footer element */
}
#footer {
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
  background:#fff;
  font-size: 20px;
  font-family: Arial;
}
#footer a {
  color: pink;
  text-decoration: none;
}

#restaurant-info {
  width: 60%;
  float: left;
}

.menu-item {
  background-color: pink;
  width: 60%;
  float: left;
  position: relative;
}
.menu-category {
  background-color: red;
  width: 60%;
  float: left;
  position: relative;
}

.item-quantity-input {
  width: 20px;
}

#tray {
  margin-top: 0px;
  height: 200px;
  width: 35%;
  float: right;
  background-color: lightblue;
}

#find-wings {
  padding-top: 100px;
  color: white;
  font-size: 30px;
}


